<?xml version="1.0" encoding="UTF-8"?>
<config>
<!-- NOM AFFICHER SUR LE LAUNCHER -->
<name>Spirit</name>
<!-- ICON DU LAUNCHER  -->
<icon>http://23.247.50.57/launcher/assets/logo.png</icon>
<!-- BACKGROUND DU LAUNCHER -->
<background>http://23.247.50.57/launcher/assets/background.png</background>
<!-- EXECUTABLE DOFUS DU LAUNCHER -->
<executable>Dofus.exe</executable>
<!-- SERVER DE DOWNLOAD  -->
<download>http://23.247.50.57/launcher/upload/</download>
<!-- XML LINK  -->
<linkxml>http://23.247.50.57/launcher/xml/link.xml</linkxml>
<!-- XML NEWS -->
<news>http://23.247.50.57/launcher/xml/news.xml</news>
</config>